<p class="User-title">Sign-in</p>
   <section class="New-user">
      <%= form_with url: sessions_path do |form| %>
         <div class="Form-section" >
         <p class="Form-label">Email:</p>
            <%= form.email_field :email ,class: "Form-input" %>
         </div>
         <div class="Form-section" >
         <p class="Form-label">Password:</p>
            <%= form.password_field :password ,class: "Form-input" %>
         </div>
         <div class="Form-section" >
            <%= form.submit "Sign In" ,class: "Form-submit" %>
         </div>
      <% end %>
   </section>
