<article>
    <h1 class="Todo-start"> My Todo List</h1>
    <form class="Todo-start-section" action="/todos" method="POST">
       <input class="Todo-text" type="text" name="todo_text" placeholder="what's next?" />
       <input class="Todo-date" type="date" name="due_date" />
       <input class="Todo-add-button" type="submit"  value="ADD"  />
    </form>
 <%= render partial: "todo-section",locals: {
   section_title: "Overdue",
   todos: Todo.overdue,
   show_due_date: true
   }%>
 <%= render partial: "todo-section",locals: {
   section_title: "Due Today",
   todos: Todo.due_today,
   show_due_date: false
   }%>
 <%= render partial: "todo-section",locals: {
   section_title: "Due Later",
   todos: Todo.due_later,
   show_due_date: true
   }%>

</article>
