body {
  font-family: Open-sans, sans-serif;
  max-width: 460px;
  margin: 0 auto;
  margin-top: 32px;
  color: #445c43;
}
.Todo-start {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.7;
  margin-bottom: 16px;
}
.Todo-start-section {
  display: flex;
  height: 32px;
  align-items: stretch;
  margin-bottom: 24px;
}
.Todo-text {
  border-radius: 4px;
  margin-right: 10px;
  border: 1px solid grey;
  padding: 6px 12px;
}
.Todo-date {
  border-radius: 4px;
  margin-right: 10px;
  border: 1px solid grey;
  padding: 6px 12px;
}
.Todo-add-button {
  border-radius: 4px;
  margin-right: 10px;
  background-color: rgb(22, 180, 35);
  border: 1px solid transparent;
  padding: 6px 12px;
}

.Todo-section {
  line-height: 1.7;
  margin-bottom: 10px;
}
.Todo-section-heading {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.Todo-section-title {
  font-size: 16px;
  font-weight: bold;
}
.Todo-count {
  margin-left: 5px;
  font-size: 12px;
}
.Todo-Item {
  font-size: 14px;
  line-height: 1.8;

  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Todo-Item-container {
  display: inline-flex;
  align-items: center;
}
.Todo-section-item-date {
  font-size: 10px;
  margin-left: 10px;
  color: rgb(74, 74, 95);
}

.Todo-Item-container:hover {
  background-color: #f1edf7;
  cursor: pointer;
}

.Todo-delete > input {
  width: 12px;
}
.Todo-delete {
  visibility: hidden;

  margin-left: 10px;
}
.Todo-Item-container:hover .Todo-delete {
  visibility: visible;
  width: 12px;
  height: 12px;
}
.Todo-Item-completedtext {
  text-decoration: line-through;
}
input[type="checkbox"]:checked {
  background-color: #4110f0;
}
input[type="checkbox"]:checked:after {
  content: "\2713";
  color: white;
}
input[type="checkbox"] {
  text-align: center;
  vertical-align: middle;
  width: 20px !important;
  height: 20px !important;
  appearance: none;
  border-radius: 3px;
  border: 1px solid grey;

  box-shadow: none;
  font-size: 1em;
}
